
services:
  gateway:
    build: ./gateway
    ports:
      - "8080:80"
    depends_on:
      - users
      - orders

  users:
    build: ./services/users
    environment:
      - PORT=3001

  orders:
    build: ./services/orders
    environment:
      - PORT=3002
