
name: Build & Deploy to ECS

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker images
        run: |
          docker build -t users ./services/users
          docker build -t orders ./services/orders
          docker build -t gateway ./gateway
